[submodule "kucher/libraries/popcop"]
	path = kucher/libraries/popcop
	url = https://github.com/Zubax/popcop
[submodule "kucher/libraries/dataclasses"]
	path = kucher/libraries/dataclasses
	url = https://github.com/ericvsmith/dataclasses
[submodule "kucher/libraries/qasync"]
	path = kucher/libraries/qasync
	url = https://github.com/CabbageDevelopment/qasync.git
