[submodule "kucher/libraries/popcop"]
	path = kucher/libraries/popcop
	url = https://github.com/Zubax/popcop
[submodule "kucher/libraries/pyqtgraph"]
	path = kucher/libraries/pyqtgraph
	url = https://github.com/pyqtgraph/pyqtgraph-core
[submodule "kucher/libraries/construct"]
	path = kucher/libraries/construct
	url = https://github.com/construct/construct
[submodule "kucher/libraries/dataclasses"]
	path = kucher/libraries/dataclasses
	url = https://github.com/ericvsmith/dataclasses
[submodule "kucher/libraries/quamash"]
	path = kucher/libraries/quamash
	url = https://github.com/harvimt/quamash
[submodule "kucher/libraries/staticx"]
	path = kucher/libraries/staticx
	url = https://github.com/Zubax/staticx.git
