#
# Development-only dependencies (not required to run the application)
#

# General build dependencies
setuptools
wheel

# Test dependencies
pytest == 3.*
black == 22.*

# Packaging tools
PyInstaller == 5.*
patchelf-wrapper~=1.0
