#
# Runtime dependencies (packaged and distributed with the application)
# Most runtime dependencies are aligned with Ubuntu 18.04 LTS Bionic Beaver
#

# https://packages.ubuntu.com/bionic/python3-pyqt5
PyQt5 ~= 5.9

# https://packages.ubuntu.com/bionic/python3-serial
pyserial ~= 3.4

# https://packages.ubuntu.com/bionic/python3-numpy
numpy ~= 1.13

# https://packages.ubuntu.com/bionic/python3-quamash
quamash ~= 0.6.1

#
# Development-only dependencies (not required to run the application)
#

# General build dependencies
setuptools
wheel

# Test dependencies
pytest >= 3.3

# Packaging tools
PyInstaller ~= 3.3
patchelf-wrapper~=1.0
staticx ~= 0.7  # Manual patching required, see https://github.com/JonathonReinhart/staticx/issues/79
