#
# Runtime dependencies (packaged and distributed with the application)
# Most runtime dependencies are aligned with Ubuntu 18.04 LTS Bionic Beaver
#

# https://packages.ubuntu.com/bionic/python3-pyqt5
# https://github.com/pyinstaller/pyinstaller/issues/4293
PyQt5==5.*
construct==2.10.68

# https://packages.ubuntu.com/bionic/python3-serial
pyserial==3.5

# https://packages.ubuntu.com/bionic/python3-numpy
# Last version of numpy has problems with some modules when using pyinstaller
# https://stackoverflow.com/questions/57264427/in-pyinstaller-why-wont-numpy-random-common-load-as-a-module
numpy==1.*
qasync==0.23.*
# https://packages.ubuntu.com/bionic/python3-yaml
PyYAML==5.*
